<!DOCTYPE html>
<head>
    <title>InfyDataQ</title>
</head>
<body><center>
    
    <h1>Are you a new Admin? To register, please provide below details:</h1>
    
    <form method="POST">
	<tr>
                <td>
                    <label for="name">
                       <em><b> FIRST NAME :</b></em>
                    </label>
                </td>
                <td><input type="text" id="fname" placeholder="FIRST NAME" name="fname" required/><br><br>
                </td>
            </tr>
	<tr>
                <td>
                    <label for="name">
                       <em><b> LAST NAME :</b></em>
                    </label>
                </td>
                <td><input type="text" id="Lname" placeholder="LAST NAME" name="Lname" required/><br><br>
                </td>
            </tr>
  	

	<tr>
                <td>
                    <label for="age">
                       <em><b> AGE :</b></em>
                    </label>
                </td>
                <td><input type="number" id="age" placeholder="AGE" name="age" min="20" required/><br><br>
                </td>
            </tr>
	<tr>
                <td>
                    <label for="email">
                       <em><b> EMAIL ID :</b></em>
                    </label>
                </td>
                <td><input type="email" id="email" placeholder="EMAIL ID" name="email" required/><br><br>
                </td>
            </tr>

    	<tr>
                <td>
                    <label for="password">
                       <em><b> PASSWORD :</b></em>
                    </label>
                </td>
                <td><input type="password" id="password1" placeholder="PASSWORD" name="password1" required/><br><br>
                </td>
            </tr>

    	<tr>
                <td>
                    <label for="confirm password">
                       <em><b> CONFIRM PASSWORD :</b></em>
                    </label>
                </td>
                <td><input type="password" id="password2" placeholder="CONFIRM PASSWORD" name="password2" required/><br><br>
                </td>
            </tr>

	<input  type="submit" class="registerbtn" value="Register" ><br><br>

	
 </form>    
<h1>Already have an account? <a href="{% url 'adminlogin'%}">Sign in</a>.</h1>    
</center></body>

</html>
<style>
 
     
      body {
        background: linear-gradient(90deg, #C7C5F4, #776BCC);
    }
	button[type=submit] {
    width: 10em;  height: 2.5em; background-color:DarkKhaki;
	
    html {
        margin: 0;
        height: 100%;

    }

</style>
